/*
Programmers: Rohan Kakkilaya, & James Pinto
Date Created: 5-21-18
finalProject
*/

/*Background*/
body {
  background-image: url("Pictures/table.png");
  background-size: cover;
}



/*For the draw pile*/
.drawPile {
  position: absolute;
  left: 650px;
  top: 300px;
}

/*Button to start game*/
.startGame {
  position: absolute;
  left: 10px;
  top: 765px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:12px;
  border:2px solid #FFFFFF;
}

.startGame:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*removes blue border when clicked*/
.startGame:focus {outline:0;}

/*CSS for rule button*/
.rules {
  position: absolute;
  left: 10px;
  top: 765px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  width: 110px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:12px;
  border:2px solid #FFFFFF;
  visibility: hidden;
}

.rules:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*removes blue border when clicked*/
.rules:focus {outline:0;}

/*CSS for the hit button*/
.hit {
  position: absolute;
  left: 49%;
  top: 765px;
  background-color: #4CAF50; /* Green */
  border: none;
  width: 110px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:12px;
  border:2px solid #FFFFFF;
  visibility: hidden;
}

/*Hit button hover*/
.hit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*removes blue border when clicked*/
.hit:focus {outline:0;}

/*CSS for the stand button*/
.stand {
  position: absolute;
  left: 39%;
  top: 765px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  width: 110px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:12px;
  border:2px solid #FFFFFF;
  visibility: hidden;
}

/*stand button hover*/
.stand:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*removes blue border when clicked*/
.stand:focus {outline:0;}

/*CSS for the restart button*/
.restart {
  position: absolute;
  left: 1310px;
  top: 765px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:12px;
  border:2px solid #FFFFFF;
  visibility: hidden;
}

/*restart button hover*/
.restart:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*removes blue border when clicked*/
.stand:focus {outline:0;}

.logo {
    position: absolute;
    left: 130px;
    top: 10px;
    transform: translateX(-50%);
    height: 98px;
    width: 200px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

/*Comp score*/
.roundWinner {
    position: absolute;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 60px;
    left: 35%;
    top: 43%;
    color: #FFFFFF;
    visibility: hidden;
}

/*Player name*/
.player-name {
    position: absolute;
    font-size: 60px;
    left: 1%;
    top: 20%;
    color: #FFFFFF;
}

/*Player score*/
.player-score {
    position: absolute;
    font-size: 60px;
    left: 25%;
    top: 20%;
    color: #FFFFFF;
}

/*Comp name*/
.computer-name {
    position: absolute;
    font-size: 60px;
    left: 1%;
    top: 30%;
    color: #FFFFFF;
}

/*Comp score*/
.computer-score {
    position: absolute;
    font-size: 60px;
    left: 25%;
    top: 30%;
    color: #FFFFFF;
}


/*Player # of wins name*/
.player-winsName {
    position: absolute;
    font-size: 30px;
    right: 5%;
    top: 2%;
    color: #FFFFFF;
}

/*Player total wins*/
.player-winsNum {
    position: absolute;
    font-size: 30px;
    right: 2%;
    top: 2%;
    color: #FFFFFF;
}

/*Comp # of wins name*/
.computer-winsName {
    position: absolute;
    font-size: 30px;
    right: 5%;
    top: 6%;
    color: #FFFFFF;
}

/*Comp total wins*/
.computer-winsNum {
    position: absolute;
    font-size: 30px;
    right: 2%;
    top: 6%;
    color: #FFFFFF;
}

/*Comp card 1: should be faced backward*/
.cpuCard1 {
    position: absolute;
    left: 40%;
    top: 60px;
    transform: translateX(-50%);
    height: 211px;
    width: 138px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    visibility: hidden;
}

/*Comp card 2*/
.cpuCard2 {
    position: absolute;
    left: 55%;
    top: 60px;
    transform: translateX(-50%);
    height: 211px;
    width: 138px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    visibility: hidden;
}

/*Comp card 3*/
.cpuCard3 {
    position: absolute;
    left: 70%;
    top: 60px;
    transform: translateX(-50%);
    height: 211px;
    width: 138px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    visibility: hidden;
}

/*Comp card 4*/
.cpuCard4 {
    position: absolute;
    left: 75%;
    top: 60px;
    transform: translateX(-50%);
    height: 211px;
    width: 138px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    visibility: hidden;
}

/*Comp card 5*/
.cpuCard5 {
    position: absolute;
    left: 80%;
    top: 60px;
    transform: translateX(-50%);
    height: 211px;
    width: 138px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    visibility: hidden;
}

/*Comp card 6*/
.cpuCard6 {
    position: absolute;
    left: 85%;
    top: 60px;
    transform: translateX(-50%);
    height: 211px;
    width: 138px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    visibility: hidden;
}


/*Player card 1*/
.card1 {
    position: absolute;
    left: 40%;
    top: 500px;
    transform: translateX(-50%);
    height: 211px;
    width: 138px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    visibility: hidden;
}

/*Player card 2*/
.card2 {
    position: absolute;
    left: 55%;
    top: 500px;
    transform: translateX(-50%);
    height: 211px;
    width: 138px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    visibility: hidden;
}

.card3 {
    position: absolute;
    left: 70%;
    top: 500px;
    transform: translateX(-50%);
    height: 211px;
    width: 138px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    visibility: hidden;
}

.card4 {
    position: absolute;
    left: 75%;
    top: 500px;
    transform: translateX(-50%);
    height: 211px;
    width: 138px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    visibility: hidden;
}

.card5 {
    position: absolute;
    left: 80%;
    top: 500px;
    transform: translateX(-50%);
    height: 211px;
    width: 138px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    visibility: hidden;
}

.card6 {
    position: absolute;
    left: 85%;
    top: 500px;
    transform: translateX(-50%);
    height: 211px;
    width: 138px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    visibility: hidden;
}
