/*
Programmers: Rohan Kakkilaya, & James Pinto
Date Created: 5-21-18
finalProject
*/

/*Background*/
body {
  background-image: url("Pictures/table.png");
  background-size: cover;
}

/*For the draw pile*/
.drawPile {
  position: absolute;
  left: 650px;
  top: 300px;
}

/*Button to start game*/
.startGame {
  position: absolute;
  left: 0px;
  top: 750px;
}
